.action {
    &.primary {
        background-color: orangered;
        border-color: #000;
        color: #fff;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        &.tocart {
            border-radius: 5px;
        }
    }
    &.primary:hover {
        background-color: saddlebrown;
        border-radius: 0;
        border: 1px solid #fff;
        &.tocart:hover {
            background-color: rgb(23, 23, 138);
            border-radius: 0;
            border: 1px solid #000;
        }
    }
}