.action {
    &.primary {
        background-color: midnightblue;
        border-color: #000;
        color: #FFF;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #FFF;
        font-weight: bold;
    }
}